<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424926391544-q5uud39dto4r1orpuvo5u9076mlc9il9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424926391544-q5uud39dto4r1orpuvo5u9076mlc9il9</string>
	<key>API_KEY</key>
	<string>AIzaSyDvqwTwRJn_bibZ15WyWAKlgxl8Chbf6nc</string>
	<key>GCM_SENDER_ID</key>
	<string>424926391544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ysfozturk.Share-Firebase</string>
	<key>PROJECT_ID</key>
	<string>sharefirebaseios-da758</string>
	<key>STORAGE_BUCKET</key>
	<string>sharefirebaseios-da758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424926391544:ios:cbf62ee3c6e88f636fdf0d</string>
</dict>
</plist>